beautifulsoup4==4.12.2
bokeh==2.4.3
matplotlib==3.7.1
neo4j==5.7.0
nltk==3.8.1
numpy==1.24.2
pandas==1.5.3
pyvis==0.3.2
Requests==2.30.0
seaborn==0.12.2
spacy==3.4.4
streamlit==1.21.0
tqdm==4.65.0
visualise_spacy_tree==0.0.6
wordcloud==1.8.2.2
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_bionlp13cg_md-0.5.1.tar.gz
